@model DevIO.App.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um erro";
}


@{
    if (Model == null)
    {

            <div>
                <h2>Ooops! Ocorreu um erro, mas nao se preocupe.Nosso time sera avisado e iremos corrigir em breve!</h2>
            </div>

    }
    else
    {

        <h1>@Html.Raw(Model.Titulo)</h1>
        <h2>@Html.Raw(Model.Mensagem)</h2>
    }

}

